<% @articles.each do |article|%>
<div class="content">
    標題：<%= article.title %>
</div>
<div class="content">
    日期：<%= article.date %>
</div>
<div class="media-left">
	<figure>
		<%= image_tag article.feature_url.to_s %>
	</figure>

</div>
<div class="content has-description">
            
  <%= truncate article.description,length:150 %>
</div>
<div class="content has-description">
            
  <%=  raw article.body %>
</div>
<%=link_to edit_article_path(article),class:'button is-small is-primary is-outlined is-edit' do %>
	            <i class="fa fa-pencil-square-o">修改</i>
<% end %><br>
<%=link_to article_path(article) do %>
 <i class="fa fa-pencil-square-o">看完整</i>
<% end %>
<% if article != @articles.last %>
  <hr />
  <% end %> 
<% end %>

<%=link_to '/articles' do %>
 <i class="fa fa-pencil-square-o">看所有最新消息</i>
<% end %>